option domain-name-servers 8.8.8.8, 8.8.4.4;
option subnet-mask 255.255.255.0;
option routers 192.168.20.10;

subnet 192.168.20.0 netmask 255.255.255.0 {
	range 192.168.20.1 192.168.20.9;
}

host virtual1 {
	hardware ethernet 52:54:AA:BB:CC:01;
	fixed-address 192.168.20.1;
}
host virtual2 {
	hardware ethernet 52:54:AA:BB:CC:02;
	fixed-address 192.168.20.2;
}
host virtual3 {
	hardware ethernet 52:54:AA:BB:CC:03;
	fixed-address 192.168.20.3;
}
host virtual4 {
	hardware ethernet 52:54:AA:BB:CC:04;
	fixed-address 192.168.20.4;
}
host virtual5 {
	hardware ethernet 52:54:AA:BB:CC:05;
	fixed-address 192.168.20.5;
}
host virtual6 {
	hardware ethernet 52:54:AA:BB:CC:06;
	fixed-address 192.168.20.6;
}
host virtual7 {
	hardware ethernet 52:54:AA:BB:CC:07;
	fixed-address 192.168.20.7;
}
host virtual8 {
	hardware ethernet 52:54:AA:BB:CC:08;
	fixed-address 192.168.20.8;
}
host virtual9 {
	hardware ethernet 52:54:AA:BB:CC:09;
	fixed-address 192.168.20.9;
}
